<h1>Users</h1>

<ul [@listStagger]="user">
  <li *ngFor="let person of user">
    <a routerLink="/details/{{person.id}}">{{person.name}}</a>

    <ul>
        <li>{{person.email}}</li>
        <li><a routerLink="{{person.website" target="_blank">{{person.website}}</a></li>
      </ul>
  </li>
</ul>
