<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="/posts" [class.activated]="currentUrl == '/posts'">
        <i class="material-icons">message</i>
      </a>
    </li>
    <li>
      <a routerLink="/photos" [class.activated]="currentUrl == '/photos'">
        <i class="material-icons">monochrome_photos</i>
      </a>
    </li>
  </ul>
</nav>

